@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "IRANYekan";
  src: url("../src/assets/fonts/IRANYekan/IRANYekanX-Thin.woff2")
    format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../src/assets/fonts/IRANYekan/IRANYekanX-UltraLight.woff2")
    format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../src/assets/fonts/IRANYekan/IRANYekanX-Light.woff2")
    format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../src/assets/fonts/IRANYekan/IRANYekanX-Regular.woff2")
    format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../src/assets/fonts/IRANYekan/IRANYekanX-Medium.woff2")
    format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../src/assets/fonts/IRANYekan/IRANYekanX-DemiBold.woff2")
    format("woff2");
  font-weight: 550;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../src/assets/fonts/IRANYekan/IRANYekanX-Bold.woff2")
    format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../src/assets/fonts/IRANYekan/IRANYekanX-ExtraBold.woff2")
    format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../src/assets/fonts/IRANYekan/IRANYekanX-Black.woff2")
    format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../src/assets/fonts/IRANYekan/IRANYekanX-ExtraBlack.woff2")
    format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../src/assets/fonts/IRANYekan/IRANYekanX-Heavy.woff2")
    format("woff2");
  font-weight: 950;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.authentication_bg{
  background-image: url("./assets/images/auth-layout-svg.svg");
  background-position: center bottom -120px;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
  background:linear-gradient(90deg, #118C80 0%, #4AB7D8 120%);
  color: transparent;
    background-clip: text;
    font-weight: 800;
    font-size: 32px;
}


.fc .fc-toolbar.fc-header-toolbar {
  padding-top: 17px;
  padding-bottom: 17px;
width: 1034px;
display: flex;
justify-content: flex-end;
font-family: "iranyekan";
border-bottom: 0.5px solid #AAAAAA;
}

.fc .fc-toolbar-title{
  font-weight: 400;
  font-size: 12px;
  align-items: center;
  color: #1E1E1E;
}
 
.fc-direction-rtl .fc-button-group > .fc-button {
  background-color: transparent;
  border: none;
  color: #3D3D3D;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}


.fc-direction-rtl .fc-button-group > .fc-button:hover {
  background-color: transparent;
  border: none;
} 

.fc .fc-view-harness {
  width: 1034px;

}

.fc .fc-scrollgrid-section, .fc .fc-scrollgrid-section table, .fc .fc-scrollgrid-section > td {
  font-family: "iranyekan";
}

.fc th {
  border-bottom: none;
  text-align: right;

}

.fc .fc-daygrid-day-number{
  
  margin-left : 18px;
}

.fc .fc-daygrid-day-frame{

  text-align: right;
} 

.fc-day-today {
  background: #FFF !important;
  border: 2px solid #208D8E !important;

} 

.active-button {
  border-bottom: 2px solid #208D8E;
  color: #208D8E;
  padding-bottom: 22px;
}


.active-button svg {
  stroke: #208D8E; /* Apply the color to the icon */
}

.project :hover{
  display: flex;
height: 31px;
 width: 246px;
  border-radius: 4px;
  background-color: #FAFAFA ;
  text-align: right;
}

.active
{
  text-align: right;
  width: 246px;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: #E9F9FF;
}

.inner-button {
  display: none;
}






.outer-button:hover .inner-button {
  display: inline;
  margin-left: 10px;

}


